<%= simple_form_for(@parking_lot) do |f| %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-12 mb-3">
        <%= f.input :name, label: "Nome do Estacionamento", input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :car_spots, label: "Vagas para Carros", input_html: { class: "form-control", min: 0 } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :motorcycle_spots, label: "Vagas para Motos", input_html: { class: "form-control", min: 0 } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :opening_time, label: "Horário de Abertura", input_html: { class: "form-control" } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :closing_time, label: "Horário de Fechamento", input_html: { class: "form-control" } %>
      </div>
    </div>

    <hr class="my-4">
    <h5 class="mb-3">Política de Preços - Carros</h5>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :initial_price_car, label: "Valor Inicial (R$)", input_html: { class: "form-control", min: 0, step: 0.01 } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :initial_minutes_car, label: "Minutos Iniciais", input_html: { class: "form-control", min: 1 } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :fraction_price_car, label: "Valor da Fração (R$)", input_html: { class: "form-control", min: 0, step: 0.01 } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :fraction_minutes_car, label: "Minutos da Fração", input_html: { class: "form-control", min: 1 } %>
      </div>
    </div>

    <hr class="my-4">
    <h5 class="mb-3">Política de Preços - Motos</h5>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :initial_price_motorcycle, label: "Valor Inicial (R$)", input_html: { class: "form-control", min: 0, step: 0.01 } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :initial_minutes_motorcycle, label: "Minutos Iniciais", input_html: { class: "form-control", min: 1 } %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <%= f.input :fraction_price_motorcycle, label: "Valor da Fração (R$)", input_html: { class: "form-control", min: 0, step: 0.01 } %>
      </div>
      <div class="col-md-6 mb-3">
        <%= f.input :fraction_minutes_motorcycle, label: "Minutos da Fração", input_html: { class: "form-control", min: 1 } %>
      </div>
    </div>
  </div>

  <div class="form-actions mt-4 d-flex justify-content-between">
    <%= link_to "Cancelar", parking_lots_path, class: "btn btn-outline-secondary" %>
    <%= f.button :submit, f.object.new_record? ? "Criar Estacionamento" : "Atualizar Estacionamento", class: "btn btn-primary" %>
  </div>
<% end %>